.topic-body {
  padding-right: 15px;
}
.topic-body .lightbox-wrapper a.lightbox img {
  width: 100% !important;
  height: 100% !important;
}
.d-header {
  .title {
    display: none;
  }
}

.categories-list .category .category-logo.aspect-image {
  margin-top: -48px;
  margin-bottom: 15px;
}

.category-list .category .subcategories {
  margin-left: 0;
}

.wrap .topic-body .contents {
  // width: 90%;
}

.topic-map {
  width: 90%;
}

.post-infos {
  // position: relative;
  // left: -30px;
}
.below-site-header-ctt {
  div {
    img {
      max-width: 150px;
    }
  }
}
