/** Hides **/
section {
  .admins, .moderators {
    display: none;
  }
}
// Remove Cakeday from hamburger menu
.widget-link.cakeday-link {
    display: none !important;
}
// Remove birthday from user profile
.user-custom-preferences-outlet.user-date-of-birth-input {
    display: none;
}

/* hide about link */
.widget-link.about-link { display: none !important; }

/* Hide topic views column */
.topic-map .map .secondary.views { display: none; }

/* hide views from posts */
.topic-list .views { display: none; }

/** END - Hides **/

/** Categories **/
.category-list {
  .category {
    border: none !important;
    .subcategories {
      margin-left: 75px;
      .badge-category-bg {
        background-color: rgb(64,64,64) !important;
      }
    }
  }
  .category-text-title {
    margin-left: 75px;
  }
  .category-logo.aspect-image {
    float: left;
    max-width: 64px;
    max-height: unset;
    margin: 0;
  }
  .category-description {
    margin-left: 75px;
  }
}
.below-site-header-ctt {
  display: flex;
  justify-content: center;
  padding-top: 10px;
  div {
    display: flex;
    justify-content: center;
    img {
      // max-width: 275px;
      width: 100px;
      height: 100%;
      // padding: 25px;
      margin: 15px 0;
    }
  }
}

#main-outlet {
  background: #f3f3f3;
  padding: 50px;
  border-radius: 10px;
}
// 0f82af
.ctt-footer {
  display: flex;
  flex-wrap: wrap;
  padding: 40px;
  margin-top: 100px;
  background: rgba(207,173,52, 1);
  p {
    margin: 0;
    padding: 0;
    width: 100%;
    text-align: center;
    color: #404040;
    a {
      color: #fff;
      text-decoration: none;
      &:hover {
        color: #000;
      }
    }
  }
}

.category-buy-now-stocks .topic-meta-data .post-info a span.relative-date[title] {
  color: transparent;

  &::before {
    content: attr(title);
    color: red;
  }
}
