.ember-application {
  #ember4 {
    background-image: url($ctt-graphs);
    background-attachment: fixed;
    background-size: cover;
    background-repeat: no-repeat;
    background-color: #000;
  }
}
